.expense-flex {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 800px;
    margin: 20px 0;
}

.expense-flex-header,
.expense-flex-item {
    display: flex;
    justify-content: space-between;
    padding: 12px 15px;
    border: 1px solid #ddd;
}

.expense-item-catagory {
    margin-left: 50px;
}

button {
    padding: 10px;
    width: 60px;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-delete {
    background-color: red;
}
.btn-save {
    background-color: green;
}
.btn-cancel {
    background-color: blue;
}

.expense-flex-header {
    font-weight: bold;
    background-color: #f4f4f4;
}